.navbar{
    background-color: #1b1b1b; 
    color: #fff;
}

.nav-link{
    color:#fff
}

.navbar-brand{
    color : #fff
}

.menu-left{
    background-color: #333333;
    padding-top: 14%;
    width: 18%;
}

.page-content{
    display: flex;
}
.nav-menu{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding-left: 6% ;
}
.nav-menu:hover{
    color: #979797;
}

.menu-item{
    padding-bottom: 4%;
}
.menu-item:hover{
    background-color: transparent;
}

.menu-title{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 0;
    padding-bottom: 8%;
    text-align: center;
    margin: 0 auto;
}
.menu-title:hover{
    color: #fff;
}


.cards-products{
    margin-top: 10%;
    display: flex;
    
}