.img-fluid{
    height: 680px;
}
.navbar{
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.2rem;
    font-weight: 600;
    transition: background-color 0.3s ease;

}

.navbar.scrolled {
  background-color: #1b1b1b;  
}
.nav-item, .nav-link{

    color: #ffff;
}
.nav-item:hover, .active{
    background-color: #45b2ff;
    border-radius: 8px;
}

.dropdown-item:active{
    background-color:#3E92CC;
}

.btn{
    font-weight: 600;
    color: #fff;
    background-color: #3E92CC;

}
.btn:hover{
    background-color: #45b2ff;
    color: #000;
}
.user{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    list-style-type: none;
}
.user:hover{
    background-color: none;
}



.logos{
    overflow: hidden;
    padding: 60px 0;
    background-color: #fff;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:hover .logos-slide{
    animation-play-state: paused;
  }
  
  .logos-slide{
    display: inline-block;
    animation:30s slide infinite linear;
   }
  .img-white{
    border-radius: 10%;
  }
   .logos:before, .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  .logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255, 255, 255, 0.9));
  }
  .logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255, 0.9));
  }
  
  .logos-slide img{
    height: 50px;
    margin: 0 40px;
  }
  
  @keyframes slide{
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-50%);
    }
  }
  .title-bold{
    padding-top: 10%;
    text-align: center;
    font-weight: 600;
    padding-bottom: 3%;
  }
  

    .intro {
            position: relative;
        }

     
        .texto-1, .texto-2, .texto-3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 1.7rem;
            font-weight: bolder;
            text-align: center;
            padding: 10px 20px;
            border-radius: 8px;
            width: 70%;
        }
.texto-1{
    top: 34%;
    width: 100%;
    font-size: 2rem;
}
.texto-2{
    top: 70%;
    width: 25%;
}
.texto-3{
  top: 50%;
  width: 40%;
}

.intro-grid{
  display: grid;
}

.btn-card{
  display: flex;
}
.card-title{
  text-transform: uppercase;
}
.card{
  transition: transform 0.3s ease-in-out; /* Transição suave de 0.3 segundos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
  margin-top: 5%;
  margin-right: 20px;
  margin-left: 20px;
  width: 18rem;


}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Coloca o conteúdo no topo e o botão na parte inferior */
}

.btn-comprar {
  margin-top: auto; /* Empurra o botão para a parte inferior */
}

.card:hover{
    transform: scale(1.05); /* Aumenta o tamanho em 5% ao passar o mouse */
 
}

.card-clickable{
  text-decoration: none;
  color: #000;

}

/*botao offcanvas*/

.open-btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/*menu off-canvas */
.off-canvas {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: right 0.3s ease-in-out;
  padding-top: 60px;
  overflow-y: auto;
  display: none; /* Mantém oculto até ser chamado */
}

.off-canvas ul {
  list-style-type: none;
  padding: 0;
}

.off-canvas li {
  padding: 8px 16px;
  text-align: left;
}

.off-canvas a {
  color: white;
  text-decoration: none;
}

.off-canvas a:hover {
  background-color: #575757;
}
.btn-off{
  display: block;       /* Faz o botão ocupar toda a largura disponível */
  margin: 10px auto; 
}

/*botão de fechar */
.close-btn {
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.categorias .card{
  width: 16rem;
}

#totalPrice{
  position: relative;
  text-align: center;
}

.produtos{
  display: flex;
  justify-content: space-around;
  
}

footer{
  padding-top: 10%;
  background-color: #1b1b1b;
}
.categorias{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pedidos:hover{
  background-color: none;
}

.navbar-brand{
  color: #fff;
}

.img-user{
  width: 50%;
}
.navbar-toggler{
  padding: 0;
  
}
.navbar-toggler{
  background-color:#45b2ff;
  border: none;
  box-shadow: none;
  width: 5rem;
}
.display-flex{
  display: flex;
  justify-content: center;
}

.icons{
  display: flex;
}

.btn-instr{
  margin-bottom: 100%;
}

.form-check-label{
  color: #fff;
}
.form-check{
margin-left: 8%;
margin-bottom: 3%;
}

.menu-title{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding-left: 0;
  padding-bottom: 8%;
  text-align: center;
  margin-top: 10%;
}
.menu-title:hover{
  color: #fff;
}
.img-close{
  width: 50%;
}


@media(max-width: 1200px){
  .card{
    width: 20%;
  }
  .produtos{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .title-bold{
    font-size: 2rem;
  }

}
@media (max-width: 1080px) {
  .texto-3{
    font-size: 1.3rem;
    width: 100%;
  }
  #btn-header{
    font-size: 1.3rem;
    padding: 1%;
  }
  .card-title{
    font-size: 01rem;
  }
  .title-bold{
    font-size: 1.8rem
  }
  .produtos{
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    margin-top: 4%;
  }
  
}

@media (max-width: 768px){
  .texto-1{
    font-size: 1.7rem;
  }
  .texto-3{
    font-size: 1.4rem;
  }
  .navbar{
    background-color: #1b1b1b;
  }
  #btn-header{
    font-size: 1rem;
  }
  .img-user{
    margin-left: 1%;
  }
  .img-cart{
    margin-left: -3%;
  }
  .categorias .card, .card{
    width: 10rem;
  }

  .categorias .card-img-top{
    height: 10rem;
  }
  .produtos .card-title{
    font-size: 0.9rem;
  }
  .produtos .card-text{
    font-size: 0.7rem;
  }
  .title-bold{
    font-size: 1.5rem;
  }
  .off-canvas{
    width:100%;
  }


}
@media(max-width: 660px){
  .texto-1{
    font-size: 1.5rem;
  }
  .texto-3{
    font-size: 1.2rem;
  }
}
@media(max-width: 570px){
  .texto-1{
    font-size: 1.3rem;
  }
  #btn-header{
    font-size: 0.8rem;
  }
  .texto-3{
    font-size: 1.0rem;
  }
}
@media(max-width: 500px){
  .texto-1{
    font-size: 1rem;
  }
  #btn-header{
    font-size: 0.6rem;
  }
  .texto-3{
    font-size: 0.7rem;
  }
  .title-bold{
    margin: 5px 10px;
    font-size:1rem;
  }
  .categorias .card{
    font-size: 0.8rem;
    width:6rem;
  }
  .produtos .card-img-top{
    width:6rem;
    margin-left: 20px;

  }
  .card{
    width: 9rem;
  }
  
  .categorias .card-img-top,.card-img-top{
    height: 6rem;
  }
  .card .card-title{
    font-size:0.8rem
  }
  .btn-comprar{
    font-size:0.7rem
  }
  .text-uppercase{
    font-size: 0.8rem;
  }
  footer p{
    font-size: 0.7rem;
  }
}
@media(max-width:392px){
  .texto-1{
    font-size: 0.9rem;
  }
  .navbar-toggler{
    width:4rem;
  }
  .texto-2{
    margin-top:10px;
    width:40%
  }
  .card{
    margin-right:5px;
  }
}
@media(max-width:359px){
  .texto-1{
    font-size:0.8rem;
  }
  .texto-2{
    margin-top:10px;
    width:40%
  }
}