.navbar{
    background-color: #1b1b1b; 
    color: #fff;
}

.nav-link{
    color:#fff
}



.card{
    width: 15rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
}
.menu-left{
    background-color: #333333;
    padding-top: 8%;
    width: 18%;
}

.page-content{
    display: flex;
}
.nav-menu{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding-left: 6% ;
    
}

.nav-menu:hover{
    color: #979797;
}

.menu-item{
    padding-bottom: 4%;
    width: 100%;
}
.menu-item:hover{
    background-color: transparent;
}
.icons{
    display: flex;
}



.cards-products{
    width: 90%;
    margin-top: 8%;
    display: flex;
    justify-content:flex-start; /* Alinha horizontalmente */
    flex-wrap: wrap; /* Para permitir que os cards quebrem para uma nova linha, se necessário */
}
.card-title{
    font-size: 1.2rem;
}
.offcanvas-body,.offcanvas-header{
    background-color: #1b1b1b;
}
.side-menu{
    background-color: #333333;
    border:none;

}
.offcanvas-header{
    display:flex;
    justify-content: flex-end;
}
.img-close{
    width: 50px;

}
.card-text{
    font-size: 1.5rem;
    font-weight: bold;
}
@media (max-width:2040px){
    .side-menu{
        display: none;
    }
}
@media(max-width:1170px){
    .menu-title{
        font-size: 1.1rem;
    }
    .form-check-label{
        font-size:0.8rem;
    }
    .card{
        width: 14rem;
        height:26rem;
    }
    .card-title{
        font-size: 1rem;
    }

    .card-img-top{
        margin-left: 18px;
        width:180px
    }
}
@media(max-width:900px){
    .clean-filter{
        font-weight: bold;
        margin-top:20px
    }
    .menu-title{
        font-size: 1rem;
    }
    .form-check-label,.nav-menu{
        font-size:0.8rem;
    }
    .card{
        font-size: 0.8rem;
        width: 12rem;
        height:24rem;
    }
    .card-title{
        font-size: 0.9rem;
    }
    .card-img-top{
        margin-left: 10px;
        width:170px;
    }
    .card-text{
        font-size: 1.3rem;
    }
}
@media(max-width:800px){
    .menu-title{
        font-size: 0.9rem;
    }
    .form-check-label,.nav-menu,.clean-filter{
        font-size:0.8rem;
    }
    .clean-filter{
        font-weight: bold;
        margin-top:20px
    }
    .img-user{
        margin-left: 1%;
      }
      .img-cart{
        margin-left: -3%;
      }


}
@media(max-width:768px){
    .clean-filter{
        width:99%
    }
    .menu-title{
        align-items: center;
        margin-right: 8px;
    }
    .card-title{
        font-size: 0.8rem;
    }
    .card{
        height: 20rem;
    }
    .card-img-top{
        margin-left: 25px;
        width: 140px;
    }
    .side-menu{
        display:flex;
    }
    .menu-left{
        display:none;
    }
    .cards-products{
        width: 100%;
    }
    .card-text{
        font-size: 1.1rem;
    }
}
@media(max-width:500px){
    .card-img-top{
        margin-left: 35px;
        width: 120px;
    }
    .card{
        height:18rem;
    }
    .card-text{
        font-size:1.1rem;
    }
   
}
@media(max-width: 481px){
    .card-img-top{
        margin-left: 43px;
        width: 100px;
    }
    .card{
        margin-right:10px;
        
    }
}
@media(max-width:461px){
    .card{
        width: 11rem;
        justify-content: center;
    }
    
}
@media(max-width:430px){
    .card-img-top{
        margin-left: 23px;
    }
    .card .card-title{
        font-size: 0.74rem;
    }
    .card-text{
        font-size:0.9rem;
    }
    .card{
       width: 9rem;
    
    }
    .cards-products{
        justify-content: center;
    }

}
@media(max-width:366px){
    .card{
        margin-top:20px;
        margin-right:0
    }
}
@media(max-width:344px){
    .card{
       width:8rem;
    }

}