form{
    width: 40%;
    margin: auto;
    margin-top:7% ;
}

.title-form{
    padding-bottom: 50px;
}




footer{
    height: 50px;
}

.display-flex{
    display:flex    ;
    justify-content: space-between;
}

.btn-continuar{
    color: #fff;
    text-decoration: none;
}
@media(max-width:1400px){
    
    form{
        width: 50%;
    }
}
@media(max-width:1000px){
    form{
        width: 55%;
    }

}
@media(max-width:800px){
    form{
        width: 60%;
    }

}
@media(max-width:500px){
    form{
        width: 70%;
    }

}
@media(max-width:450px){
  .telefones{
    display: flex;
    flex-wrap: wrap;
  }

}
