form{
    width: 40%;
    margin: auto;
    margin-top:7% ;
}

.btn-continuar{
    color: #fff;
    text-decoration: none;
}

.title-form{
    padding-bottom: 50px;
}


.btn:hover{
    box-shadow: 2px 2px 7px #000000;

}

footer{
    height: 50px;
}

.display-flex{
    display:flex    ;
    justify-content: space-between;
}